<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Портфель</title>
</head>
<body>
    <div class="cap-links">
        <a href="{{ url_for('index') }}">Домашняя страница</a>
        <a href="{{ url_for('logout') }}">Выйти из системы</a>
        <a href="{{ url_for('emitents') }}">Эмитенты</a>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
     <ul>
         {% for message in messages %}
         <li>{{ message }}</li>
         {% endfor %}
     </ul>
    {% endif %}
    {% endwith %}
    {% if session['role'] == 'user' %}
        <table>
            <thead>
                <tr>
                <th scope="col">Эмитент акции</th>
                <th scope="col">Цена акции</th>
                <th scope="col">Тикер акции</th>
                <th scope="col">p/e акции</th>
                <th scope="col">Доходность акции</th>
                <th scope="col">Дата приобретения акции</th>
                <th scope="col">Количество приобретенных акций</th>
                <th scope="col">Прибыль</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(stocks_of_user_len) %}
                <tr>
                    <td>{{ stocks_of_user[i][0] }}</td>
                    <td>{{ stocks_of_user[i][1] }}</td>
                    <td>{{ stocks_of_user[i][2] }}</td>
                    <td>{{ stocks_of_user[i][3] }}</td>
                    <td>{{ stocks_of_user[i][4] }}</td>
                    <td>{{ stocks_of_user[i][5] }}</td>
                    <td>{{ stocks_of_user[i][6] }}</td>
                    <td>{{ income_list[i] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% elif session['role'] == 'admin' %}
        <p>Братишка, только пользователи могут создавать свой портфель:(</p>
    {% endif %}
</body>
</html>